* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    outline: 0;
}

#page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#morpion-grid {
    display: grid;
    grid-template-rows:    repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
    grid-gap: 10px;
    margin: auto;
    background: black;
    border-radius: 15px;
    overflow: hidden;
}

.morpion-node {
    cursor: pointer;
    background-color: white;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.05s ease-out;
}

.morpion-node.circle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 110 110' width='150' height='150'%3E%3Ccircle cx='50' cy='50' r='50' fill='transparent' stroke='darkcyan' stroke-width='10' /%3E%3C/svg%3E");
}

.morpion-node.cross {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 110 110' width='150' height='150'%3E%3Cpath d='M 0 0 L 100 100' stroke-linecap='round' stroke='darkred' stroke-width='10' /%3E%3Cpath d='M 0 100 L 100 0' stroke-linecap='round' stroke='darkred' stroke-width='10' /%3E%3C/svg%3E");
}

.morpion-node:hover {
    background-color: rgb(225, 225, 225);
}

#server-chat {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    width: 400px;
    height: 100vh;
    background: white;
    border-left: 1px solid black;
    padding: 10px;
    transform: none;
    transition: transform 0.5s ease-out;
}

.server-message {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    font-family: sans-serif;
    background: rgb(225, 225, 225);
    border-top-left-radius:     10px;
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;
}